<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>949672433800-08uha7684adk088ajgl99vttp5ju949r.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.949672433800-08uha7684adk088ajgl99vttp5ju949r</string>
	<key>API_KEY</key>
	<string>AIzaSyDi1TwO95LT2spWGA1oysU6PMxw9Ad7Sbo</string>
	<key>GCM_SENDER_ID</key>
	<string>949672433800</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.expenses</string>
	<key>PROJECT_ID</key>
	<string>personalexpensesapp</string>
	<key>STORAGE_BUCKET</key>
	<string>personalexpensesapp.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:949672433800:ios:35d62b29f41afb7bbe673d</string>
</dict>
</plist>